{% extends 'Curso/base.html' %}

{% block contenido %}
    <table border="1">
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for profesor in profesores  %}
                <tr>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.apellido}}</td>
                    <td>{{profesor.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock contenido %}

{% extends 'Curso/base.html' %}

{% block title %}
    | INICIO
{% endblock title %}
{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Proveedores</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Categorias</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
{% endblock navigation %}