{% extends 'Curso/base.html' %}

{% block title %}
    | PROVEEDORES
{% endblock title %}
{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'productos' %}">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'proveedores' %}">Proveedores</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'categoria' %}">Categorias</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark mp-border-button">
                    <a href="{% url 'proveedores_form' %}" class="mp-style-button">AGREGAR PROVEEDOR</a>
                </button>
            </form>
        </div>
    </div>
</nav>
{% endblock navigation %}
{% block content %}
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Proveedores</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for proveedor in proveedores %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product details-->
                        <div class="card-body p-2">
                            <div class="text-left">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Nombre: {{proveedor.nombre}} </h5>
                                <h5 class="fw-bolder">Nacionalidad: {{proveedor.nacionalidad}} </h5>
                               
                                <!-- Product price-->
                               
                            </div>
                        </div>
                        <!-- Product actions-->
                      
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}